.App{
  height: 100vh;
  width: auto;
  background-color: black;
  display:flex;
}

.landing{
  margin: auto;
  width: 66%;
}

.title{
  color:white;
  margin: auto;
}
.text{
  color:white;
  margin: 20px auto;
}
.linktree{
  text-decoration: none;
  margin: 20px auto;
}